body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    overflow: hidden;
}

.container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg, #FF6F6F 0%, #EA4335 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    perspective: 1000px;
}

.landing-card {
    width: 500px;
    height: 500px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    border-radius: 50%;
}

.landing-card:hover {
    transform: rotateY(180deg);
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 50%;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align: center;
    box-sizing: border-box;
    background-color: #c73232;
}

.card-front {
}

.card-front .logo-img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.card-back {
    transform: rotateY(180deg);
     box-shadow:
    inset 0 0 25px rgba(0, 0, 0, 0.2),
    inset 0 0 10px rgba(255, 255, 255, 0.01);
}

.card-back h2 {
    font-family: 'Arial Black', sans-serif;
    font-size: 3.5em;
    margin: 0;
    line-height: 1;
}

.card-back p {
    font-size: 1.1em;
    color: #333;
    margin: 15px 0;
}

.card-back .primary-btn {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    text-decoration: none;
    font-weight: bolder;
    border: none;
    border-radius: 50%;
    font-size: 3em;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 500px;
    height: 500px;
    color: #ffffff;
    justify-content: center;
    align-items: center;  
}