<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>RunLab — Início</title>
    <link rel="stylesheet" href="/static/landing.css">
  </head>
  <body>

    <div class="container">
      <div class="landing-card">
        <div class="card-face card-front">
          <img src="/static/media/logo.png" alt="Logo RunLab" class="logo-img">
        </div>

        <div class="card-face card-back">
          <p>
            <a class="primary-btn" href="/labirinto">JOGAR</a>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
